.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
.db
log.txt
Pipfile.lock
env3.*
env
docs_build
site_build
venv
files
.env
*.db
/*.db
*.sqlite3
